@import url("https://fonts.googleapis.com/css?family=Manjari&display=swap");

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Manjari", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
}

/* 
-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    margin-bottom: 10px;
}

* {
    font-family: "Manjari";
}

/* source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace; */
