.a {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
.b {
    background-color: blue;
    color: palegreen;
}
.c {
    background-color: green;
    color: violet;
}
.d {
    background-color: yellow;
    color: brown;
}
.e {
    background-color: darkorange;
    color: hotpink;
}
