.Welcome {
    background-image: url("bg.jpg");
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: left top;
    /* background-attachment: fixed;
    position: fixed; */
}

.Welcome input {
    font-size: 2em;
    margin-bottom: 20px;
}
#playbtn {
    padding: 3px;
    border-radius: 4px;
    font-size: 150%;
    background: greenyellow;
    border: none;
    margin-bottom: 10px;
}
#playbtn:hover {
    background: red;
}

.avatar {
    height: 50px;
    width: 50px;
    margin: 1%;
    border-radius: 50%;
    text-align: center;
    border: 50vmax;
}
#hina {
    width: 30%;
    float: left;
}

input[type="text"] {
    background-color: rgba(18, 10, 250, 0.306);
    margin: 10px;
    padding: 5px 10px;
    border: none;
    border-bottom: groove;
    font-size: 18px;
    font-family: "Manjari", sans-serif;
    text-align: center;
    border-radius: 4px;
}

ul {
    display: inline;
    margin: 7px;
}
